<div class="card-container">
  <div>
Базовият ноорегулатор
  поставя за цел увеличаване и усилване реализаторския потенциал на човека.
  <br/>
Предназначения:
  </div>
<ol>
<li> Защита
 <ol>
   <li>срещу провал</li>
   <li>срещу уручасване</li>
   <li>срещу черна магия</li>
 </ol>
</li>
  <li>Премахване на случайни и кармични пречки по пътя на целта</li>
  <li>Стимулиране и развиване на волевите качества</li>
  <li>Развиване на способност за точна преценка и правилни решения</li>
  <li>Развиване на способност за целенасоченост</li>
  <li>Развиване на позитивна себеоценка и целенасоченост</li>
  <li>Съдейства за постигане на целите чрез използване на позитивните влияния на планетите , отговарящи за успеха и късмета на човека</li>
  <li>Стимулиране на жизнената сила</li>
  <li>Увеличаване на приходите</li>
</ol>
  Срок за влизане в резонанс 4-6 месеца
  Съдържа следните Универсални програми:
<ol>
  <li>Защитни и увеличаващи енергията програми :
    <ol>
      <li>Активира центъра на себеосъзнаването и връзката с Висшите структури.</li>
      <li>Защита от смъртта , утвърждава силите на живота</li>
      <li>Развива качествата на сърцето чрез обвързване с висшите ценности</li>
      <li>Програмира подсъзнанието за здраве и дълголетие</li>
      <li>Универсална защитна програма</li>
      <li>Универсална програма за увеличавани на жизненета енергия , привличане на духовни и материални богатства</li>
      <li>Стимулира развитието на творческото начало в човека , което може да се изрази в плодородие ,плодовитост ,благоденствие ,творчески успехи</li>
      <li>Стимулира заземяването на човека ,укрепва физическите (земни) компоненти на живота трудоспособност и натрупване на материални блага</li>
      <li>Осъществявя насищане на биополето с позитивната енергия на планетата Венера. Може да се изрази в повишаване на творческия потенциял или чрез увеличаване на благополучието</li>
      <li>Осъществява насищане на биополето с позитивната енергия на планетата Юпитер .Може да се изрази в подобряване на себеоценката и подобряване нахжитейската реализация</li>
      <li>Защитава подсъзнанието от външни внушения за бедност ,провал ,болести ,неуспех</li>
      <li>Стимулира успеха и социялния ръст .Премахва случайни кармични пречки към успеха</li>
      <li>Стимулира кармичните програми за успех, отстранява съмненията</li>
      <li>Стимулира успеса и късмета</li>
    </ol>
  </li>
  <li>
Как се употребява ноорегулаторът:
    <ol>
      <li>Носим картата в чантичка на врата постоянно ( близо до тялото )</li>
      <li>За зареждане с енергия държим картата между дланите</li>
      <li>За влизане в резонанс с конкретна програма ,държим картата между дланите и зареждаме с енергия от тях всички чакри</li>
    </ol>
  </li>
</ol>
</div>
